[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "rm -rf node_modules 2>/dev/null || true",
  "npm cache clean --force 2>/dev/null || true",
  "npm install --no-package-lock",
  "npm install"
]

[phases.build]
cmds = []

[start]
cmd = "npm start"
